:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #192938;
  text-decoration: inherit;
}
a:hover {
  color: #192938;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h4 {
  font-size: 1.2em;
  font-weight: 500;
}

button {
  border-radius: 8px;
  border: none;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d2dbe1;
  cursor: pointer;
}
button:hover {
  background-color: #bfc8ce;
  transition: all 0.25s ease-out;
}
button:active {
  background-color: #a6adb2;
  transition: all 0.1s ease;
}

.startButton {
  margin-top: 20px;
  padding: 0.7em 1em;
}

.helpButtonDiv {
  margin: 0;
  padding: 0;
}

.popup-button{
  padding: 0;
  margin: 0;
  margin-left: 0.25em;
  background: none;
  color: #a6adb2;
  font-size: 1.25em;
}
.popup-button:hover {
  background: none;
  color: #8c9296;
}
.popup-button:active {
  background: none;
  color: #7c8184;
}

.popup-content {
  text-align: center;
  border-radius: 10px;
}

.welcomeDiv {
  text-align: center;
}

.inputDiv {
  border: 2px solid #242424;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.numInput {
  border: none;
  padding: 0.5em;
  text-align: center;
  width: 30px ;
}

.inputButton {
  background-color: #d65616;
  color: white;
  font-weight: 900;
  width: 35px;
  height: 35px;
  margin: 0 0.2em;
  text-align: center;
}
.inputButton:hover {
  background-color: #a74311;
}
.inputButton:active {
  background-color: #963809;
}

.inputText1 {
  margin-right: 2.3rem;
}

.inputText2 {
  margin-right: 0.5rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #192938;
    background-color: #ffffff;
  }
}
