:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  min-height: 100vh;
}

/*================= DIVS ==================*/
.welcomeDiv {
  text-align: center;
}

.inputDiv {
  border: 2px solid #242424;
  border-radius: 5px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.budgetDiv {
  min-width: 90vw;
  display: flex;
  justify-content: center;
}

.savedBudgetsDiv {
  margin-left: 5em;
  border: 2px solid #242424;
  border-radius: 5px;
  padding: 0 3em 0 1em;
}
/*=========================================*/

/*================ BUTTONS ================*/
button {
  padding: 0.7em 1em;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #046dd6;
  color: #ffffff;
  cursor: pointer;
}
button:hover {
  background-color: #1c88f3;
  transition: all 0.25s ease-out;
}
button:active {
  background-color: #3797f7;
  transition: all 0.1s ease;
}

.startButton {
  margin-top: 20px;
  padding: 0.7em 1em;
}

.helpButtonDiv {
  margin: 0;
  padding: 0;
}

.popup-button{
  padding: 0;
  margin: 0;
  margin-left: 0.25em;
  border: none;
  background: none;
  color: #a6adb2;
  font-size: 1.25em;
}
.popup-button:hover {
  background: none;
  color: #8c9296;
}
.popup-button:active {
  background: none;
  color: #7c8184;
}

.inputButton {
  padding: 0;
  border: none;
  background-color: #d65616;
  color: white;
  font-weight: 900;
  width: 35px;
  height: 35px;
  margin: 0 0.2em;
  text-align: center;
}
.inputButton:hover {
  background-color: #a74311;
}
.inputButton:active {
  background-color: #963809;
}

.saveBudgetButton {
  margin: 1em 1em 0 0;
}
/*=========================================*/

/*================ LINKS ==================*/
a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #ffffff;
}
/*=========================================*/

/*================ INPUTS =================*/
.numInput {
  border: none;
  padding: 0.5em;
  text-align: center;
  width: 30px ;
}

.inputText1 {
  margin-right: 2.3rem;
}

.inputText2 {
  margin-right: 0.5rem;
}

.saveBudgetInput {
  padding: 0.5em;
  margin-bottom: 1.2em;
  font-size: 0.9em;
}
/*=========================================*/

/*================= TEXT =================*/
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h4 {
  font-size: 1.2em;
  font-weight: 500;
}

h5 {
  font-size: 1em;
  font-weight: 400;
}

.helpPopup-content {
  text-align: center;
  border-radius: 5px;
}

.saveBudgetPopup-content {
  border-radius: 5px;
  padding: 6em;
  width: fit-content;
}

.budgetTitle {
  font-weight: 500;
}

.totalText {
  font-weight: 500;
}

.saveBudgetDiv {
  margin-top: 3em;
}

.saveBudgetTitle {
  font-weight: 500;
  margin-bottom: 2em;
}

.savedBudgetsTitle {
  margin-right: 9em;
  font-weight: 500;
}
/*=========================================*/

/*================= LISTS =================*/
ul {
  list-style: none;
  margin-bottom: 20px;
}
/*=========================================*/

@media (prefers-color-scheme: light) {
  :root {
    color: #192938;
    background-color: #ffffff;
  }
}
